# Ignore everything
*

# except...

!.bash_logout
!.bashrc
!.profile
!.extra

!.irssi
.irssi/away.log

!.ssh
.ssh/id_dsa

!.vim
!.vimrc

!.gitconfig
!.gitignore
!.gitignore_global
!.hgignore
!.hgrc

!.pythonrc.py
!.signature

!.tmux.conf
!.screenrc

!.xinitrc
!.xbindkeysrc
!.Xresources
!.fonts.conf

!.config/awesome
